<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="IMS.SiteMaster" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="ajaxToolkit" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> IMS</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <script type="text/javascript" src="Scripts/jquery.min.js"></script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Style/theme.css" rel="stylesheet" type="text/css"  />
    <link href="Style/fonts.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript">

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
        }

        document.onkeypress = stopRKey;

    </script>
    <style>
        @media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</head>
<body>
    <div class="container ">
      <form runat="server">
        <div class="top-head">
                
                <div class="logo">
                </div>
                <div class="user-menu no-print">
                   
                       <a runat="server" href="~/IMSLogin.aspx" onclick="Unnamed_Click">Logout</a>
                    
                </div>
            </div>

   
       <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        
       <%-- <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" >E-Inventory</a>
                </div>
                <div class="navbar-collapse collapse">
                   
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <%--<ul class="nav navbar-nav navbar-right">
                                <li><asp:Button if="btnLogout" runat="server" Text="Logout" OnClick="Unnamed_Click"/></li>
                                <li><a runat="server" href="~/IMSLogin.aspx" onclick="Unnamed_Click">Logout</a></li>
                            </ul>--%><%--
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Account/Manage" title="Manage your account">Hello, <%: Context.User.Identity.GetUserName()  %> !</a></li>
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </div>--%>

          <div class="navs-cont no-print">
                <div class="navigation no-print ">
                    
                    <asp:Literal runat="server" ID="warehouseNav">
                    <ul class="main-menu no-print">
                            <li><a href="#">Manage Inventory</a>

                               <ul>
                                    <li><a href="ManageProducts.aspx">Manage Products</a></li>
                                    <li><a href="ManageSubCategory.aspx">Manage SubCategories</a></li>
                                    <li><a href="ManageCategory.aspx">Manage Categories</a></li>
                                    <li><a href="ManageDepartment.aspx">Manage Departments</a></li>
                                   <li><a href="ViewInventory.aspx">Manage Stocks</a></li>
                                    <%--<li class="hasChild"><a href="#">Manage Stocks</a>
                                        <ul>
                                            <li><a href="AddStock.aspx">Add Stock</a></li>
                                            <li><a href="SelectionStock.aspx">Edit Stock</a></li>
                                            <li><a href="ViewInventory.aspx">Current Stock</a></li>
                                       </ul>
                                    </li>--%>
                               </ul>

                            </li>
                            <li><a href="#">Manage Purchase Orders</a>
                                                    
                                 <ul>
                                  
                                    <li><a href="SelectStores.aspx">Assign Vendors to Store</a></li>
                                    <li><a href="ProductStoreSelect.aspx">Assign Products to Store</a></li>
									<li class="hasChild"><a href="#">Generate PO</a>

                                        <ul>
                                            
                                            <li><a href="#">Auto PO</a>
                                            </li>
                                            <li><a href="SelectVendor.aspx">Manual PO</a></li>
                                       </ul>

                                    </li>
                                    <li><a href="ViewPlacedOrders.aspx">View PO</a></li>
                                    <li class="hasChild"><a href="#">Recieve PO</a>

                                        <ul>
                                            <li><a href="#">Auto Recieving</a></li>
                                            <li><a href="ViewPurchaseOrders.aspx">Manual Recieving</a></li>
                                       </ul>
									<li><a href="#">Send Returned Items</a>
                                    </li>
                               </ul>
                            </li>
                            <li><a href="#">Manage Sale Orders</a>
                            	<ul>
                                	 <li><a href="OrderSalesManual.aspx">Generate SO</a></li>
                                    <li><a href="ViewSalesOrders.aspx">View SO</a></li>
                                    <li class="hasChild"><a href="#">Receive SO</a>

                                        <ul>
                                            <li><a href="#">Auto Receiving</a></li>
                                            <li><a href="ReceiveSalesOrder.aspx">Manual Receiving</a></li>
                                       </ul>

                                    </li>
                                    <li><a href="ReceiveStoreRequest.aspx">Receive Store/Salesman Request</a></li>
                                    <li><a href="#">Receive Returned Items</a>
                                </ul>
                            </li>
                            <li><a href="ManageVendor.aspx">Manage Vendors</a>
                                <%--<ul><li><a href="SalemanMangment.aspx">Saleman Manage</a></li></ul>--%>
                            </li>
                            <li><a href="Warehouse_StoreRequests.aspx">Store Requests</a></li>
                            
                            <li><a href="#">Reports</a>
                            	<ul>
                                	<li><a href="#">Print PO</a></li>
                                	<li><a href="PackingListGeneration.html">Packing List</a></li>
                                    <li><a href="#">Stock Report</a></li>
                                    <li><a href="#">Print Stock</a></li>
                                    
                                    
                                    
                                   
	           <li><a href="#">All Reports</a></li>
               <li><a href="rpt_SalesSummary_Selection.aspx">Gross Profit Report</a>
               <li class="hasChild"><a href="#">Item Sold Reports</a>
               <ul>
                   <li><a href="rpt_ItemSold_Selection.aspx?Param=Date">Item Sold Report by Date </a></li>
                   <li><a href="rpt_ItemSold_Selection.aspx?Param=Pharmacy">Item Sold Report by Pharmacy </a></li>
                   <li><a href="rpt_ItemSold_Selection.aspx?Param=SalesMan">Item Sold Report by SalesMan</a></li>
               </ul>
               </li>
	           <li class="hasChild"><a href="#">Sale Reports</a>
		            <ul>
                        
                

			    <li class="hasChild"><a href="#">Summary Sales Daily Reports</a>
				<ul>
                	<li>
						<a href="#"> Daily Sales by Sales Rep</a>
                    </li>
					<li>
    				<a href="#"> Daily Sales by Store</a>
                    </li>
                   	<li>
                   <a href="#"> Daily Sales by Cashier</a>
                   </li>
                   <li>
                   <a href="#"> Daily Sales by Supplier</a>
                   </li>
                   <li>
                    <a href="#"> Daily Sales by Register</a>
                   </li>
                   <li>
                    <a href="#"> Daily Sales by Category</a>
                   </li>
                   <li>
                    <a href="#"> Daily Sales by Department</a>
                    </li>
				</ul>
			</li>
            <li class="hasChild"><a href="#">Sales Tax Reports</a>
				<ul>
					<li><a href="#">Summary Tax Collected Daily </a></li>
					<li><a href="#">Detailed Tax Collected</a></li>
				</ul>
			</li>
            <li class="hasChild"><a href="#">Sales History Reports</a>
				<ul>
					<li><a href="#"> Sales History</a></li>
					<li><a href="#"> Consolidated Sales</a></li>
                    <li><a href="#"> History-Slow Moving Items</a></li>
                    <li><a href="#"> Yearly Sales History - None Moving Items</a></li>
                    <li><a href="#"> Period Sales History - Open to buy</a></li>
                    <li><a href="#"> Sales by Till</a></li>
				</ul>
			</li>
             <li class="hasChild"><a href="#">Cost/Sales Analysis Reports</a>
				<ul>
					<li><a href="#">Regional Cost/Sales</a></li>
					<li><a href="#">Store Cost/Sales</a></li>
                    <li><a href="#">Department Cost/Sales</a></li>
				</ul>
			</li>
            <li class="hasChild"><a href="#">Other Sales Reports</a>
				<ul>
					<li><a href="#">Detailed Sales</a></li>
					<li><a href="#">Sales Summary - Network Status and Error Logs</a></li>
					<li><a href="#">Sales by Volume - Standard Margins</a></li>
					<li><a href="#">Returns report - Promotional Margins</a></li>
					<li><a href="#">Sales by Value - Fast Moving Items</a></li>
					<li><a href="#">Sales by assistant - Daily Customer listing</a></li>
				</ul>
			</li>
		</ul>
	            </li>
                <li class="hasChild"><a href="#">Inventory Reports</a>
		            <ul>
			            <li class="hasChild"><a href="#">Inventory Analysis Reports</a>
				            <ul>
					            <li><a href="#">Inventory Product Alert Report</a></li>
					            <li><a href="#">Inventory Department wise</a></li>
					            <li><a href="#">Inventory Category Wise</a></li>
					            <li><a href="#">Inventory Sub Category Wise</a></li>
					            <li><a href="#">Inventory Vendor wise</a></li>
					            <li><a href="#">Near to expire Inventory</a></li>
					            <li><a href="#">inventory consumption by store</a></li>
				            </ul>
			            </li>
                        <li class="hasChild"><a href="#">Trending &amp; Profit  Analysis Reports</a>
				            <ul>
					            <li><a href="#">Inventory with highest trend </a></li>
					            <li><a href="#">inventory with lowest trend</a></li>
					            <li><a href="#">inventory giving greater Profit</a></li>
					            <li><a href="#">inventory which cost most</a></li>
				            </ul>
			            </li>
                        <li class="hasChild"><a href="#">Head Office Reports</a>
				            <ul>
					            <li><a href="#">Inventory Count - Head Office</a></li>
					            <li><a href="#">Inventory Count Variance - Head Office</a></li>
				            </ul>
			            </li>
                         <li class="hasChild"><a href="#">Other Inventory Reports</a>
				            <ul>
					            <li><a href="#">Inventory adjustments - Account Balances </a></li>
					            <li><a href="#">Random Inventory Count Check list - Account Transactions</a></li>
					            <li><a href="#">Inventory Movements History - Daily Transaction Log / Summary</a></li> 
					            <li><a href="#">Inventory Ledger - Quantity Audit </a></li>
					            <li><a href="#">Product Inventory - Inventory Valuation </a></li>
					            <li><a href="#">Inventory Allocation</a></li>
				            </ul>
			            </li>
                        <li class="hasChild"><a href="#">Inventory Master Listing Reports</a>
				            <ul>
					            <li><a href="#">Master Price List</a></li>
					            <li><a href="#">Master Quantity List </a></li>
					            <li><a href="#">Master Value List</a></li>
				            </ul>
			            </li>
                         <li class="hasChild"><a href="#">Inventory Store Listing Reports</a>
				            <ul>
					            <li><a href="#">Snapshot Store Price List</a></li>
					            <li><a href="#">Snapshot Store Quantity List</a></li>
					            <li><a href="#">Quantity Discrepancy List </a></li>
				            </ul>
			            </li>
                         <li class="hasChild"><a href="#">Other Inventory Listing Reports</a>
				            <ul>
					            <li><a href="#">Supplier List</a></li>
					            <li><a href="#">Alias List</a></li>
					            <li><a href="#">Substitute List</a></li>
					            <li><a href="#">Serial Number List</a></li>
					            <li><a href="#">Item Movement</a></li>
					            <li><a href="#">Offline Inventory List</a></li>
					            <li><a href="#">Trending Products List</a></li>
				            </ul>
			            </li>
		            </ul>
	            </li>

                <li class="hasChild"><a href="#">Order Reports</a>
		            <ul>
			<li class="hasChild"><a href="#">Quotes &amp; BackOrder  Reports</a>
				<ul>
					<li><a href="#">Backorders—Summary</a></li>
					<li><a href="#">Backorders—Detailed</a></li>
					<li><a href="#">Quotes—Summary</a></li>
					<li><a href="#">Quotes—Detailed</a></li>
				</ul>
			</li>
            <li class="hasChild"><a href="#">Purchase &amp; Sales Order Reports</a>
				<ul>
					<li><a href="#">Sales orders </a></li>
					<li><a href="#">Purchase orders</a></li>
                    <li><a href="#">Purchase Orders - Value Audit</a></li>
				</ul>
			</li>
            <li class="hasChild"><a href="#">Sales History Reports</a>
				<ul>
					<li><a href="#">Sales History</a></li>
					<li><a href="#">Consolidated Sales History-Slow Moving Items</a></li>
                    <li><a href="#">Yearly Sales History - None Moving Items</a></li>
					<li><a href="#">Period Sales History - Open to buy</a></li>
                   <li><a href="#">Sales by Till</a></li>
				</ul>
			</li>
             <li class="hasChild"><a href="#">Inventory Order Reprots</a>
				<ul>
					<li><a href="#">Inventory Transfer In</a></li>
					<li><a href="#">Suggested Orders - Excess Inventory</a></li>
				</ul>
			</li>
            <li class="hasChild"><a href="#">Dispatch Order Reports</a>
				<ul>
					<li><a href="#">Goods Received Note - Suggested Dispatch Orders </a></li>
                    <li><a href="#">Goods on Order - Dispatch Orders  </a></li>
                  	<li><a href="#">Dispatch Orders - Classification Totals E.G. Department totals  </a></li>
				</ul>
			</li>
             <li class="hasChild"><a href="#">Other Order Reports</a>
				<ul>
					<li><a href="#">Work orders</a></li>
					<li><a href="#">Margin Report</a></li>
                 	<li><a href="#">Back Order Report - Best Customer report</a></li>
                    <li><a href="#">Branch Orders - Head Office </a></li>
				</ul>
			</li>
            
		</ul>
	            </li>

                <li class="hasChild"><a href="#">Store Specific Reports</a>
		            <ul>
			
                <li><a href="#">Branch Performance Report - Price Override report</a></li>
               <li><a href="#">Picking list - Branch Goods Received / Dispatch Report</a></li>
                <li><a href="#">Branch Product Change Report</a></li>
                <li><a href="#">Branch Promotional Price Report</a></li>
                <li><a href="#">Branch Inventory Change Report</a></li>
                <li><a href="#">Branch Price Change Report</a></li>
		</ul>
	            </li>
            
                 <li class="hasChild"><a href="#">Top Performers Reports</a>
		                <ul>
			                <li><a href="#">Top Sales Reps</a></li>
                          <li><a href="#">Top Customers</a></li>
                         <li> <a href="#">Top Cashiers</a></li>
                       <li> <a href="#">Top Suppliers</a></li>
                         <li> <a href="#">Top Items</a></li>
                       <li> <a href="#">Top Departments</a></li>
                       <li>  <a href="#">Top Categories</a></li>
		                </ul>
	             </li>

                 <li class="hasChild"><a href="#">Other Reports</a>
		                <ul>
			                <li><a href="#">Loyalty Scheme Report</a></li>
                          <li> <a href="#">Overstock reports based upon weeks covered required</a></li>
                           <li> <a href="#">Suggested Replenishment base upon sales history</a></li>
                          <li>  <a href="#">Random Inventory Count Variance - Cash Reconciliation </a></li>
                          <li>  <a href="#">Aged Inventory - Currency Change Report </a> </li>
		                </ul>
	             </li>

                            	</ul>
                            </li>
                        <li><a href="#">Miscellaneous</a>
                                                    
                                 <ul>
                                  
                                    <li><a href="#">Manage Warehouse</a></li>
                                    <li><a href="#">Manage Store</a></li>									 
                                    <li><a href="SalemanMangment.aspx">Manage Salesman</a></li>
                                     
                               </ul>
                            </li>
	                    </ul>
            </asp:Literal>
            <asp:Literal runat="server" ID="storeNav">
                 <ul class="main-menu no-print">
                            <li><a href="#">Manage Inventory</a>
                                        <ul>
                                            <li><a href="ManageProducts.aspx">Manage Products</a></li>
                                    <li><a href="ManageSubCategory.aspx">Manage SubCategories</a></li>
                                    <li><a href="ManageCategory.aspx">Manage Categories</a></li>
                                    <li><a href="ManageDepartment.aspx">Manage Departments</a></li>
                                           <%-- <li><a href="AddStock.aspx">Add Stock</a></li>
                                            <li><a href="SelectionStock.aspx">Edit Stock</a></li>--%>
                                            <li><a href="ViewInventory.aspx">Current Stock</a></li>
                                       </ul>
                            </li>
                            <li><a href="#">Manage Purchase Orders</a>
                                 <ul>
                                     <li class="hasChild"><a href="#">Generate PO</a>

                                        <ul>
                                            
                                            <li class="hasChild"><a href="#">Auto PO</a>
                                            <ul>
                                                <li><a href="ReplenishMain.aspx">Replenish (Movement)</a></li>
                                                <li><a href="ReplenishMain.aspx?Param=Calculation">Replenish (Calculation)</a></li>
                                            </ul>
                                            </li>
                                           <li><a href="SelectWarehouse.aspx">PO Request to WareHouse</a></li>
                                       </ul>

                                    </li>                                           
                                            
                                            <li><a href="SelectVendor.aspx">Direct Store Purchase</a></li>
                                     <li><a href="ViewPlacedOrders.aspx">View Store Purchase</a></li>
                                       </ul>

                                </li>
                           
                            <li><a href="StoreTransfers_StoreRequests.aspx">Store Transfers</a></li>
                            <li><a href="ReceiveStock.aspx">Store Receivings</a></li>
                            <li><a href="#">Store Requests</a>
                                <ul>
                                    <%--<li><a href="AutoRequest_Store.aspx">Auto Generate Request(s)</a></li>--%>
                                    <li><a href="StoreRequests.aspx">Manual Generate Requests</a></li>
                                    <li><a href="CreateTransferRequest.aspx">Create Transfer Request</a></li> 

                                    <li class="hasChild"><a href="StoreRequests.aspx">Manage Transfers</a>
                                     <ul>
                                                <li><a href="SentTransferRequests.aspx">Send</a></li>
                                                <li><a href="ReceiveTransferOrder.aspx"> Receive</a></li>
                                     </ul>
                                    </li>
                                </ul> 
                            </li>
                            
	                    </ul>
            </asp:Literal>

            <asp:Literal runat="server" ID="headofficeNav">
                    
                <ul class="main-menu">
                            <li><a href="ManageStore.aspx">Manage Stores</a></li>
                            <li><a href="ManageWarehouse.aspx">Manage WareHouse</a></li>
                            <li><a href="CompanySettings.aspx">Manage Company Information</a></li>
                            <li><a href="Reports.aspx">View Reports</a></li>
                            <li><a href="RegisterUsers.aspx">Register Users</a></li>
	                    </ul>
                    
            </asp:Literal>
	                   
                <div style="clear: left;"></div>
                
            </div><div style="clear: left;"></div>

          </div>
          <div style="clear: left;"></div>

        <div class="body-cont">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            
            
            
        </div>

        

    </form>

   </div>

      <div class="footer no-print">

              <div class="fcont">

            
                <p>&copy; <%: DateTime.Now.Year %> - Software Alliance LLC.</p>

                       
            

              </div>

          </div>

        <script>
            $(document).ready(function () {

                $(".table-striped").parent("div").addClass("putScroll");


                var h = $(document).height();
                $(".overLaypop").height(h);

                $(".opPop").click(function (e) {
                    e.preventDefault();
                    var pH = $(".popupMain").height();
                    var pH = pH / 2;
                    var pH = 0 - pH;
                    $(".popupMain").css("margin-top", pH);

                    $(".popupMain, .overLaypop").fadeIn();
                });

                $(".close").click(function () {

                    $(".popupMain, .overLaypop").fadeOut();

                });

            });
        </script>
</body>
</html>
