<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="IMS.SiteMaster" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="ajaxToolkit" %>
<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> IMS</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>
    <webopt:bundlereference runat="server" path="~/Content/css" />
    <script type="text/javascript" src="Scripts/jquery.min.js"></script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="Style/theme.css" rel="stylesheet" type="text/css"  />
    <link href="Style/fonts.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript">

        function stopRKey(evt) {
            var evt = (evt) ? evt : ((event) ? event : null);
            var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
            if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
        }

        document.onkeypress = stopRKey;

    </script>
    <style>
        @media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }

         .userInfo{
                  -webkit-border-radius: 10px;
                  border-radius: 10px;
                  background:#FFF;
                  padding:6px 45px 7px 10px;
                  position: absolute;
                  top: 16px;
                  right: 3px;

        }
        .userInfo span{
            display:inline-block;
            float:left;

        }
        .userInfo input{
            position:absolute;
            display:inline-block;
            top:-8px;
            right:-5px;
            left:auto !important;
            outline:none;
            border:0px;

        }
        
    </style>
   
       
                                                                                                                                                                                                           

 <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</head>
<body>
    <div class="container ">

        <div runat="server" id="StoreBlock" >
             <link href="Style/font-awesome/css/font-awesome.css"  type="text/css"  rel="stylesheet" />
            <link href="Style/font-awesome/css/font-awesome.min.css"  type="text/css"  rel="stylesheet" />
            <link type="text/css" href="Style/notifications.css" rel="stylesheet" />
            <script type="text/javascript" src="Scripts/PharmacyCustom.js"></script>

            <div class="center notification icon">
              <svg class="svg-left" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
<g class="bell">
	<g>
		<rect x="182.508" y="-46.756" fill="none" width="146.983" height="388.404"/>
		<path class="heilu" d="M182.508,341.648c-19.196,0-15.356-22.486-12.066-25.777c3.291-3.291,2.396-58.963,9.828-97.075
			c7.432-38.112,49.958-57.82,59.669-63.422c0-5.976,4.855-17.928,16.061-17.928c11.205,0,16.061,11.952,16.061,17.928
			c9.711,5.603,52.237,25.311,59.669,63.422s6.538,93.784,9.828,97.075c3.291,3.291,7.13,25.777-12.066,25.777H182.508z"/>
	</g>
	<path class="pendulum" d="M221.996,354.81c0,10.904-8.84,19.744-19.744,19.744s-19.744-8.84-19.744-19.744H221.996z"/>
</g>
</svg>
              <div class="notification-number">0</div>
            </div>

          <div class="notifications NotificationsHolder"></div>

            <div class="overLaypop pnOverlay"></div>

            <div class="popupMain pharmacyNotifications" id="notifications">
            
                    <div class="popupHead">
                        Notifications
                    <input class="close" value="" type="submit">
                    </div>
     
                    <div class="bodyPop">

                        <table class="table table-striped table-bordered table-condensed" cellspacing="10">

                            <tr>
                                <td><a href="SentTransferRequests.aspx"> Requests Accepted</a>:</td><td><span id="trYours"></span></td>
                                
                            </tr>
                            <tr>
                                
                                <td><a href="ReceiveTransferOrder.aspx"> Requests By Others</a>:</td><td><span id="trOthers"></span></td>
                            </tr>

                        </table>

                    </div>

                </div>

            <%--<div class="notifications">

                <div class="notify gr">
    <div class="circle s">
      <svg class="svg-light" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
<g class="kokokello" >
	<g>
		<rect x="182.508" y="-46.756" fill="none" width="146.983" height="388.404"/>
		<path class="heilu" d="M182.508,341.648c-19.196,0-15.356-22.486-12.066-25.777c3.291-3.291,2.396-58.963,9.828-97.075
			c7.432-38.112,49.958-57.82,59.669-63.422c0-5.976,4.855-17.928,16.061-17.928c11.205,0,16.061,11.952,16.061,17.928
			c9.711,5.603,52.237,25.311,59.669,63.422s6.538,93.784,9.828,97.075c3.291,3.291,7.13,25.777-12.066,25.777H182.508z"/>
	</g>
	<path class="kili" d="M221.996,354.81c0,10.904-8.84,19.744-19.744,19.744s-19.744-8.84-19.744-19.744H221.996z"/>
</g>
</svg>
    </div>
    <div class="info">
      <span>New Transfer Request</span>
      <span>165MB <a href="#">Codepen.io</a> 1:41 PM</span>
    </div> 
  </div> 
  
</div> --%>

        </div>

      <form runat="server">
        <div class="top-head">
                
                <div class="logo">
                </div>
                <div style="  float: left;  margin-left: 412px;  font-size: 16px;  color: #FFF;  font-weight: bold;  margin-top: 19px;">
                    <asp:Literal ID="lbllogin" runat="server" visible="false"> </asp:Literal>
                </div>
                                <div class="userInfo no-print">
                <span>
                    <asp:Literal ID="FirstLast" runat="server" visible="false"> </asp:Literal>
                    </span>
              
                 <asp:ImageButton id="imgLogout" runat="server" ImageUrl="images/logoutIcon.png"  OnClick="Unnamed_Click" />
                    
                       <%--<a runat="server" href="~/IMSLogin.aspx" onclick="Unnamed_Click">Logout</a>--%>
               </div>
            </div>

   
       <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see http://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="bootstrap" />
                <asp:ScriptReference Name="respond" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
        
       <%-- <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" >E-Inventory</a>
                </div>
                <div class="navbar-collapse collapse">
                   
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <%--<ul class="nav navbar-nav navbar-right">
                                <li><asp:Button if="btnLogout" runat="server" Text="Logout" OnClick="Unnamed_Click"/></li>
                                <li><a runat="server" href="~/IMSLogin.aspx" onclick="Unnamed_Click">Logout</a></li>
                            </ul>--%><%--
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" href="~/Account/Manage" title="Manage your account">Hello, <%: Context.User.Identity.GetUserName()  %> !</a></li>
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </div>--%>

          <div class="navs-cont no-print">
                <div class="navigation no-print ">
                    
                    <asp:Panel runat="server" ID="warehouseNavigation">
                    <ul class="main-menu no-print">
                            <li><a href="#">Manage Inventory</a>

                               <ul>
                                    <li><a href="ManageProducts.aspx">Manage Products</a></li>
                                    <li><a href="ManageSubCategory.aspx">Manage SubCategories</a></li>
                                    <li><a href="ManageCategory.aspx">Manage Categories</a></li>
                                    <li><a href="ManageDepartment.aspx">Manage Departments</a></li>
                                    <li><a href="ViewInventory.aspx">View Inventory</a></li>
                                    <li><a href="StockManipulation.aspx?Param=Adjustment">Stock Adjustments</a></li>
                                    <li><a href="StockManipulation.aspx?Param=Printing">Stock Printing</a></li>
                                    
                               </ul>

                            </li>
                            <li><a href="#">Manage Purchase Orders</a>
                                                    
                                 <ul>
                                  
                                    <li><a href="SelectStores.aspx">Assign Vendors to Pharmacy</a></li>
                                    <li><a href="ProductStoreSelect.aspx">Assign Products to Pharmacy</a></li>
									<li class="hasChild"><a href="#">Generate PO</a>

                                        <ul>
                                            
                                            <li><a href="#">Auto PO</a>
                                            </li>
                                            <li><a href="SelectVendor.aspx">Manual PO</a></li>
                                       </ul>

                                    </li>
                                    <li><a href="ViewPlacedOrders.aspx">View PO</a></li>
                                    <li class="hasChild"><a href="#">Recieve PO</a>

                                        <ul>
                                            <li><a href="#">Auto Recieving</a></li>
                                            <li><a href="ViewPurchaseOrders.aspx">Manual Recieving</a></li>
                                       </ul>
									<li><a href="#">Send Returned Items</a>
                                    </li>
                                      <li><a href="ManageVendor.aspx">Manage Vendors</a>
                                
                            </li>
                               </ul>
                            </li>
                            <li><a href="#">Manage Sale Orders</a>
                            	<ul>
                                	 <li><a href="OrderSalesManual.aspx">Generate SO</a></li>
                                    <li><a href="ViewSalesOrders.aspx">View SO</a></li>
                                    <li class="hasChild"><a href="#">Receive SO</a>

                                        <ul>
                                            <li><a href="#">Auto Receiving</a></li>
                                            <li><a href="ReceiveSalesOrder.aspx">Manual Receiving</a></li>
                                       </ul>

                                    </li>
                                    <li><a href="ReceiveStoreRequest.aspx">Receive Pharmacy/Salesman Request</a></li>
                                    <li><a href="#">Receive Returned Items</a>
                                </ul>
                            </li>
 
                           
         
         <li>

             <a href="#">Reports</a>
             <ul>
                 <li><a href="#" runat="server" id="WHReports">Warehouse Reports</a></li>
                 <li><a href="#">Pharmacy Reports</a></li>
             </ul>
         </li>                  
         

                          
         
                        <li><a href="#">Miscellaneous</a>
                                                    
                                 <ul>
                              
                                    <li><a href="WarehouseManagement.aspx">Manage Store</a></li>
                                    <li><a href="PharmacyManagement.aspx">Manage Pharmacy</a></li>									 
                                    <li><a href="UserManagment.aspx">Manage Users</a></li>									 
                                    <li><a href="SalemanMangment.aspx">Manage Salesman</a></li>
                                    <li><a href="HAADPopulation.aspx">HAAD List Population</a></li>
                                    <li><a href="UtillityFunctions.aspx">Utillity Functions</a></li>
                                      <li><a href="#">Manage returned Items</a></li>
                                     
                               </ul>
                            </li>
	                    </ul>
            </asp:Panel>
            <asp:Panel runat="server" ID="storeNavigation">
                 <ul class="main-menu no-print">
                            <li><a href="#">Manage Inventory</a>
                                        <ul>
                                            <li><a href="ManageProducts.aspx">Manage Products</a></li>
                                    <li><a href="ManageSubCategory.aspx">Manage SubCategories</a></li>
                                    <li><a href="ManageCategory.aspx">Manage Categories</a></li>
                                    <li><a href="ManageDepartment.aspx">Manage Departments</a></li>
                                           <%-- <li><a href="AddStock.aspx">Add Stock</a></li>
                                            <li><a href="SelectionStock.aspx">Edit Stock</a></li>--%>
                                            <li><a href="ViewInventory.aspx">Current Stock</a></li>
                                       </ul>
                            </li>
                            <li><a href="#">Manage Purchase Orders</a>
                                 <ul>
                                     <li><a href="ReplenishMain.aspx?Param=Calculation">Replenishment</a>
                                    </li>                                           
                                         <li><a href="SelectWarehouse.aspx">Item Request to Store</a></li>   
                                            <li><a href="SelectVendor.aspx">Direct Pharmacy Purchase</a></li>
                                     <!--<li><a href="ViewPlacedOrders.aspx">View Store Purchase</a></li>-->
                                       </ul>

                                </li>
                           
                          <%--  <li><a href="StoreTransfers_StoreRequests.aspx">Store Transfers</a></li>
                            <li><a href="ReceiveStock.aspx">Store Receivings</a></li>--%>

                            <li><a href="#">Pharmacy Requests</a>
                                <ul>
                                   
                                    <%--<li><a href="StoreRequests.aspx">Manual Generate Requests</a></li>--%>
                                    <li><a href="CreateTransferRequest.aspx">Create Transfer Request</a></li> 

                                    <li class="hasChild"><a href="StoreRequests.aspx">Manage Transfers</a>
                                     <ul>
                                                <li><a href="SentTransferRequests.aspx">Receive Transfer Request</a></li>
                                                <li><a href="ReceiveTransferOrder.aspx"> Send Transfer Request</a></li>
                                     </ul>
                                    </li>
                                </ul> 
                            </li>
                            
	                    </ul>
            </asp:Panel>

            <asp:Panel runat="server" ID="headofficeNavigation">
                    
                <ul class="main-menu">
                            <li><a href="ManageStore.aspx">Manage Pharmacy</a></li>
                            <li><a href="ManageWarehouse.aspx">Manage Store</a></li>
                            <li><a href="CompanySettings.aspx">Manage Company Information</a></li>
                            <li><a href="Reports.aspx">View Reports</a></li>
                            <li><a href="RegisterUsers.aspx">Register Users</a></li>
	                    </ul>
                    
            </asp:Panel>
	                   
                <div style="clear: left;"></div>
                
            </div><div style="clear: left;"></div>

          </div>
          <div style="clear: left;"></div>

        <div class="body-cont">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            
            
            
            
        </div>

        

    </form>

   </div>

      <div class="footer no-print">

              <div class="fcont">

            
                <p>&copy; <%: DateTime.Now.Year %> - Software Alliance LLC.</p>

                       
            

              </div>

          </div>

        <script>
            $(document).ready(function () {

                $(".table-striped").parent("div").addClass("putScroll");


                var h = $(document).height();
                $(".overLaypop").height(h);

                $(".opPop").click(function (e) {
                    e.preventDefault();
                    var pH = $(".popupMain").height();
                    var pH = pH / 2;
                    var pH = 0 - pH;
                    $(".popupMain").css("margin-top", pH);

                    $(".popupMain, .overLaypop").fadeIn();
                });

                $(".close").click(function () {

                    $(".popupMain, .overLaypop").fadeOut();

                });

            });
        </script>
</body>
</html>
